streamlit
pandas
matplotlib
numpy
geopy
timezonefinder
networkx
pyswisseph
openpyxl
watchdog
bcrypt
streamlit_authenticator
streamlit>=1.33
openai>=1.40,<2
supabase
python-dateutil
psycopg2-binary
email-validator
pytz